<div class="container text-center">
    <nav class="row align-items-center" [style.height.px]="400">
        <a routerLink="/play" class="col-6">
            <button class="btn btn-dark btn-lg">
                Solo
            </button>
        </a>
        <a routerLink="/play" class="col-6">
            <button class="btn btn-dark btn-lg">
                Multijoueur
            </button>
        </a>
    </nav>
    <a routerLink="/home">
        <button class="btn btn-secondary me-2">
            Paramètres
        </button>
    </a>
</div>
